/*primary color*/
.bg-cream {
  background-color: rgba(26, 93, 26, 0.4);
}
* {
}
/*font*/
body {
  font-family: "Poppins", sans-serif;
}

.bg-green-500 {
  background-color: #1a5d1a;
}
.text-yellow-500 {
  color: #1a5d1a;
}
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 8px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.floating-4 {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating-4 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 8px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
.text-darken {
  color: #2f327d;
}
